<div class="container">
  <div class="row">
    <div class="col">
      <h1>Credits</h1>
      <hr>
      <h3>Images</h3>
      <ul class="list-group mb-4">
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/LtnPejWDSAY?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jeff L</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/nfreue44HjI?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Johannes Plenio</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/gweOVL1QjPo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Cosmic Timetraveler</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/WKnkkGEW8xY?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Steve Roe</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/0cOAVdr9Arg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Kate Joie</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/UExx0KnnkjY?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Colton Duke</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/lRssALOk1fU?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">rawpixel</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
        <li class="list-group-item">
          <span>Photo by
            <a href="https://unsplash.com/photos/G85VuTpw6jg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">David Kovalenko</a> on
            <a href="/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
          </span>
        </li>
      </ul>
      <h3>Icons</h3>
      <div class="mb-4">Icons made by
        <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
          target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</div>