<section class="error404">
  <div>
    <h1 class="mb-4">Oops...</h1>
    <h2 class="mb-4">We can't find your page.</h2>
    <a href="/" class="btn btn-outline-light btn-lg">Go home</a>
  </div>
</section>