textarea {
  resize: none; }

.select2-container {
  width: 100% !important; }

#main {
  min-height: calc(100vh - 121px); }

.masonry {
  column-count: 1;
  column-gap: 0;
  margin-left: -10px;
  margin-right: -10px; }
  .masonry .item {
    display: block;
    break-inside: avoid;
    padding: 10px;
    color: #212529;
    text-decoration: none; }
    .masonry .item > div {
      border: 1px solid #ddd;
      transition: box-shadow 200ms, border-color 200ms; }
    .masonry .item .data {
      padding: 10px; }
    .masonry .item:hover > div {
      border-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  @media screen and (min-width: 768px) {
    .masonry {
      column-count: 2; } }
  @media screen and (min-width: 992px) {
    .masonry {
      column-count: 3; } }
  @media screen and (min-width: 1200px) {
    .masonry {
      column-count: 4; } }

.owl-carousel {
  padding: 0 50px;
  position: relative; }
  .owl-carousel .item {
    width: 150px;
    position: relative; }
    .owl-carousel .item img {
      height: 150px;
      object-fit: cover; }
    .owl-carousel .item .add-activity {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 200ms; }
      .owl-carousel .item .add-activity a {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        background: #ddd;
        color: #212529;
        font-size: 24px; }
    .owl-carousel .item:hover .add-activity {
      opacity: 1; }
  .owl-carousel .owl-nav {
    font-size: 50px; }
    .owl-carousel .owl-nav button {
      position: absolute;
      top: 75px;
      transform: translateY(-50%);
      outline: none; }
      .owl-carousel .owl-nav button.disabled {
        opacity: 0.5; }
      .owl-carousel .owl-nav button.owl-prev {
        left: 0; }
      .owl-carousel .owl-nav button.owl-next {
        right: 0; }

.home {
  position: relative;
  height: 100vh; }
  .home .jumbotron {
    background: none;
    color: #fff;
    text-shadow: 0 0 10px #212529;
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%); }
    .home .jumbotron .btn:hover {
      text-shadow: none; }
  .home #component {
    height: 100vh !important;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
    .home #component .itemwrap > li .white-layer {
      display: none;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .home #component .itemwrap > li .img {
      background-size: cover;
      background-position: center;
      height: 100vh; }
    .home #component .itemwrap > li.overlay .white-layer {
      display: block; }
  .home:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 141px;
    background: url("/images/shadow_top.png") repeat-x;
    z-index: 1; }

.navbar-wanderlust {
  background-image: linear-gradient(to right, #ff5722 0%, #e91e63 100%);
  margin-bottom: 15px; }
  .navbar-wanderlust .btn-outline-light {
    display: none; }
    .navbar-wanderlust .btn-outline-light:hover {
      color: #e91e63; }

.navbar-home {
  position: absolute;
  z-index: 100000;
  background: none !important;
  margin-bottom: 0;
  width: 100%; }
  .navbar-home .btn-outline-light {
    display: none; }

@media (min-width: 768px) {
  .navbar-wanderlust .btn-outline-light,
  .navbar-home .btn-outline-light {
    display: inline-block; } }

.btn-back {
  color: #e91e63;
  transition: color 200ms;
  margin-bottom: 10px; }
  .btn-back:hover {
    color: #ff5722;
    text-decoration: none; }

.btn-wanderlust-container {
  display: flex;
  justify-content: space-between; }
  .btn-wanderlust-container .btn-wanderlust {
    flex-grow: 1;
    margin-right: 10px; }
    .btn-wanderlust-container .btn-wanderlust:last-child {
      margin-right: 0; }

.btn.btn-wanderlust {
  outline: none;
  box-shadow: none;
  background-image: linear-gradient(to right, #ff5722 0%, #e91e63 100%);
  color: #e91e63;
  padding: 2px;
  position: relative;
  border-radius: 0.5rem; }
  .btn.btn-wanderlust span {
    background: #fff;
    padding: .375rem .75rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: background 200ms ease; }
    .btn.btn-wanderlust span i {
      margin-right: 5px; }
  .btn.btn-wanderlust:hover {
    color: #fff; }
    .btn.btn-wanderlust:hover span {
      background: transparent; }
  .btn.btn-wanderlust:not(.disabled):active:active {
    background-image: linear-gradient(to right, #ff5722 0%, #e91e63 100%); }

.color-picker .form-check input:checked + label:after {
  color: #212529; }

.color-picker .form-check label {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 10px 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 2px #ababab;
  text-align: center; }
  .color-picker .form-check label:after {
    content: "\f00c";
    color: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px; }
  .color-picker .form-check label.grapefruit {
    background-color: #ed5565;
    border-color: #da4453; }
  .color-picker .form-check label.bittersweet {
    background-color: #fc6e51;
    border-color: #e9573f; }
  .color-picker .form-check label.sunflower {
    background-color: #ffce54;
    border-color: #f6bb42; }
  .color-picker .form-check label.grass {
    background-color: #a0d468;
    border-color: #8cc152; }
  .color-picker .form-check label.mint {
    background-color: #48cfad;
    border-color: #37bc9b; }
  .color-picker .form-check label.aqua {
    background-color: #4fc1e9;
    border-color: #3bafda; }
  .color-picker .form-check label.bluejeans {
    background-color: #5d9cec;
    border-color: #4a89dc; }
  .color-picker .form-check label.lavender {
    background-color: #ac92ec;
    border-color: #967adc; }
  .color-picker .form-check label.pinkrose {
    background-color: #ec87c0;
    border-color: #d770ad; }
  .color-picker .form-check label.lightgray {
    background-color: #f5f7fa;
    border-color: #e6e9ed; }

.table-activities td, .table-activities th {
  padding: 5px; }

.table-activities .activity {
  padding: 5px;
  margin-bottom: 5px;
  min-width: 120px; }
  .table-activities .activity .actions {
    border-top: 1px dotted #ddd;
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-around; }
    .table-activities .activity .actions a, .table-activities .activity .actions a:hover {
      color: #212529;
      text-decoration: none; }
    .table-activities .activity .actions a {
      opacity: 0.7; }
      .table-activities .activity .actions a:hover {
        opacity: 1; }

.error404 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("/images/bg/error404.jpg") center;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 10px #212529; }
  .error404 .btn:hover {
    text-shadow: none; }

/*# sourceMappingURL=style.css.map */