.btn-back {
  color: $pink;
  transition: color 200ms;
  margin-bottom: 10px;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.btn-wanderlust-container {
  display: flex;
  justify-content: space-between;
  .btn-wanderlust {
    flex-grow: 1;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  &.btn-wanderlust {
    outline: none;
    box-shadow: none;
    background-image: linear-gradient(to right, $orange 0%, $pink 100%);
    color: $pink;
    padding: 2px;
    position: relative;
    border-radius: 0.5rem;
    span {
      background: $white;
      padding: .375rem .75rem;
      border-radius: 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      transition: background 200ms ease;
      i {
        margin-right: 5px;
      }
    }
    &:hover {
      color: $white;
      span {
        background: transparent;
      }
    }
    &:not(.disabled) {
      &:active:active {
        background-image: linear-gradient(to right, $orange 0%, $pink 100%);
      }
    } 
  }
}