.owl-carousel {
  padding: 0 50px;
  position: relative;
  .item {
    width: 150px;
    position: relative;
    .add-activity {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 200ms;
      a {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        background: $lightGrey;
        color: $black;
        font-size: 24px;
      }
    }
    &:hover {
      .add-activity {
        opacity: 1;
      }
    }
  }
  .owl-nav {
    font-size: 50px;
    button {
      position: absolute;
      top: 75px;
      transform: translateY(-50%);
      outline: none;
      &.disabled {
        opacity: 0.5;
      }
      &.owl-prev {
        left: 0;
      }
      &.owl-next {
        right: 0;
      }
    }
  }
}